.navbar {
    position: fixed;
    z-index: 2;
    inset: auto 0 0 0;
    background: #888888;
    display: flex;
    gap : 1em;
    list-style: none;
    padding: .5em 1em;
}
.navbar button {
    display: block;
    padding: .5em 1em;
    color: orange;
    text-decoration: none;
}
.navbar button:focus {
    outline: 1px solid orange;
}